#box-one {
	height: 100px;
 	width: 100px;
 	margin: 550px 0 10px 0;
 	z-index: -1;
 	left: 0;
 	position: relative;
}

#box-two {
	height: 100px;
 	width: 100px;
 	z-index: -1;
 	left: 0;
 	position: relative;
}

#finish-line {
	position: absolute;
	top: 80px;
	right: 5px;
	display: inline;
	float: right;
	background: black;
	height: 70px;
	width: 10px;
	margin: 528px 0 0 0;
}

h1 {
	text-align: center;
}

body {
	background: url(images/flatirons.jpg);
	background-size: cover;
}