html {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
h1 {
	text-align: center;
}

body {
	background: url(images/flatirons.jpg);
	background-size: cover;
}

#field {
	margin: 0 auto;
	height: 200px;
	width: 1000px;
	position: absolute;
	bottom: 30px;
	left: 140px;
	border: 2px black solid;

}

#box-one {
	height: 100px;
 	width: 100px;
 	left: 0;
 	position: relative;
 	display: block;
}

#box-two {
	height: 100px;
 	width: 100px;
 	margin: 10px 0;
 	left: 0;
 	position: relative;
 	display: block;
}

#finish-line {
	position: absolute;
	bottom: 0;
	left: 1000px;
	display: block;
	float: right;
	background: black;
	height: 200px;
	width: 10px;
}



